@font-face {
    font-family: 'REKKI-Medium';
    src: url('REKKI-Medium.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'REKKI-Regular';
    src: url('REKKI-Regular.woff2') format('woff2');
    font-weight: 400;
}